<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    </head>
    <body style="background: radial-gradient(circle, rgb(79, 182, 189),rgb(213, 84, 174));" align="center">
        <form action="http://www.google.com">
                <div style="background: radial-gradient(circle, rgb(79, 182, 189),rgb(213, 84, 174));"><br><br>
                &nbsp;<label>Username :-</label>&nbsp;&nbsp;&nbsp;
                <input type="text" name="uname" placeholder="enter username"><br><br>
                &nbsp;<label>Password :-</label>&nbsp;&nbsp;&nbsp;
                <input type="password" name="upwd" placeholder="enter password">
                <br>
                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="submit" value="login">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="reset" value="cansal"><br><br>
                <a href="image.html">click me</a>
        </form>
        </div>
    </body>
</html>
